* {
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Varela Round', sans-serif;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.container {
    padding: 0 80px;
}

.header {
    width: 100%;
    height: 70px;
    background-color: #035F8F;
    align-items: center;
    justify-content: center;
}
.header-content {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__button {
 padding-bottom:25px;
}

.header__button-button {
    margin-top: 30px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #E4BD3F;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}

.header__button-button:hover {
    transition: transform 1.5s;
    color: #c37e1b;
    font-size: 14px;

    .button-svg {
        transition: transform .1s;
        width: 27px;
        height: 27px;
    }
}

.button-svg {
    width: 25px;
    height: 25px;
    padding-left: 20px;
}

.header-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.header__company-name {
    font-size: 35px;
    color: white;
    padding-right: 380px;
}

@media (max-width: 1200px) {
    .header__company-name {
        font-size: 30px; /* Уменьшаем шрифт для экранов меньше 1200px */
    }
}

@media (max-width: 768px) {
    .header__company-name {
        font-size: 25px; /* Уменьшаем шрифт для экранов меньше 768px */
    }
}
.navigate {
    width: 100%;
    height: 56px;
    background-color: #025178;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigate__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigate__item {
    margin: 0 20px;
}

.navigate__link {
    color: white;
    text-decoration: none;
}

.hero {
    width: 100%;
    height: 400px;
    background-image: url('./assets/img/hero_photo.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
}

.hero__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 400px;
    background-color: rgba(2, 81, 120, 0.55);
    flex-direction: column;
    margin-right: 80px;
}

.hero__text-box {
    margin-top: -20px;
    width: 300px;
    height: 250px;
    display: flex;
    padding-left: 10px;
}

.hero__text-box p {
    color: white;
    text-align: left;
    font-size: 26px;
    line-height: 1.6;
    text-shadow: 0 1px 0 #035F8F;
}


.hero-button {
    margin-top: 30px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #E4BD3F;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}

.users {
    width: 100%;
    height: 280px;
    background-color: #035F8F;
}

.users__block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 280px;
}

.users__items {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 250px;
    height: 200px;
    background-color: rgb(240, 244, 245);
    border-radius: 10px;
    padding: 15px;
}
.users__items-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}

.users__items-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.users__items-text {
    font-size: 16px;
}

.users__items-button {
    display: flex;
    align-items: end;
    margin-bottom: 15px;
}

.users__items-button button {
    width: 150px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #ebebed;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.blog2 {
    width: 100%;
    height: 340px;
    /*background-image: url('./assets/img/blog2.jpg');*/
    background-size: cover;
    background-position: center;
    background-color: #d7e1dd;
}

.blog2-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 340px;
}

.connected_gas {
    width: 530px;
    height: 270px;
    background-color: #01AB8C;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}

.connected_gas-text {
    position: absolute; /* Абсолютное позиционирование */
    top: 20px; /* Отступ сверху */
    left: 20px; /* Отступ слева */
    width: calc(100% - 40px); /* Ширина текстового блока с учетом отступов */
    z-index: 2; /* Чтобы текст был поверх изображения */
}

.connected_gas-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33.33%;
    z-index: 1;
}

.connected_gas-img img {
    width: 100%; /* Ширина изображения на всю ширину блока */
    height: 100%; /* Высота изображения на всю высоту блока */
    transition: transform 0.3s ease; /* Плавный переход для hover-эффекта */

}

.connected_gas:hover .connected_gas-img img {
    transform: scale(1.1); /* Увеличение изображения при наведении */
}

.connected_gas-text p {
    margin: 10px 0 0; /* Отступ сверху для параграфа */
    font-size: 15px; /* Размер шрифта параграфа */
    color: #fff; /* Цвет текста */
    letter-spacing: 0.3px; /* Отступ между символами */
    line-height: 1.5; /* Межстрочный интервал */
    font-family: 'Arial', sans-serif; /* Шрифт */
}

.connected_gas-text h4 {
    margin: 0;
    font-size: 20px; /* Размер шрифта заголовка */
    color: #fff; /* Цвет текста */
}

.disconnected_gas {
    width: 530px;
    height: 270px;
    background-color: #0393A8;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

.disconnected_gas-text {
    position: absolute; /* Абсолютное позиционирование */
    top: 20px; /* Отступ сверху */
    left: 20px; /* Отступ слева */
    width: calc(100% - 40px); /* Ширина текстового блока с учетом отступов */
    z-index: 2; /* Чтобы текст был поверх изображения */
}

.disconnected_gas-text h4 {
    margin: 0;
    font-size: 20px; /* Размер шрифта заголовка */
    color: #fff; /* Цвет текста */
}

.disconnected_gas-text p {
    margin: 10px 0 0; /* Отступ сверху для параграфа */
    font-size: 15px; /* Размер шрифта параграфа */
    color: #fff; /* Цвет текста */
    letter-spacing: 0.3px; /* Отступ между символами */
    line-height: 1.5; /* Межстрочный интервал */
    font-family: 'Arial', sans-serif; /* Шрифт */
}

.disconnected_gas-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33.33%;
    z-index: 1;
}

.disconnected_gas-img img {
    width: 100%; /* Ширина изображения на всю ширину блока */
    height: 100%; /* Высота изображения на всю высоту блока */
    object-fit: cover; /* Чтобы изображение заполнило весь блок */
    transition: transform 0.3s ease; /* Плавный переход для hover-эффекта */

}

.disconnected_gas:hover .disconnected_gas-img img {
    transform: scale(1.1); /* Увеличение изображения при наведении */
}


.footer {
    width: 100%;
    height: 150px;
    background-color: #035F8F;
}

.footer_content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 150px;
}

.footer_content-logo {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_content-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer_content-company_name {
    font-size: 25px;
    color: #e5eded;
}

.footer_content-contacts {
    display: flex;
    color: #e5eded;
}

.footer_content-contacts ul {
    list-style: none;
    padding: 0 -20px;
}
